.concept{
    margin-top: 80px;
}

.concept-inner{
    display: flex;
    @include mq(sp){
        display: block;
    }
}

.concept-left{
    width: 50%;
    @include mq(sp){
        width: 100%;
        height: auto;
    }
}

.concept-right{
    @include mq(sp){
        width: 100%;
        position: static;
        height: 75px;
    }
    width: 50%;
    position: relative;
    h3{
        font-size: 20px;
        line-height: calc(34/20);
        margin-bottom: 42px;
        @include mq(sp){
            margin-bottom: 30px;
        }
    }
    p{
        line-height: calc(27/16);
    }
}

.concept-right-inner{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding-left: calc(80%*100/600);
    @include mq(sp){
        margin-top: 125px;
        position: static;
        padding-left: 0;
    }
}